.main {
    display: flex;
    height: 100vh;
    flex-direction: row;
}

.app-note-list {
    flex: 1;
    border: 1px solid gray;
    padding: 10px;
}

.app-note-input-result {
    flex: 1;
    border: 1px solid gray;
    padding: 10px;
    margin-top: auto;
    height: 100%;
}

.app-note-chat {
    flex: 1;
    border: 1px solid gray;
    padding: 10px;
    flex-direction: column;
    height: 100%;
    margin-bottom: auto;
}